body {
    font-family: Arial, sans-serif;
}

#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#auth, #search {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin-bottom: 10px;
}

#results, #brewery-details {
    margin-top: 20px;
}
